

.mainBanner{
    width: 100%;
    position: relative;
    background-position: center;
    top: 0px;
    height: 85vh;
}

#videoPlayer{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blurredPanel {
    position: absolute;
    bottom: calc(50% - 8vh);
    width : 24vw;
    height: 16vh;
    left: calc(50% - 12vw);
    background: rgba(158, 158, 158, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    width: 96%;
  }
  
.contentHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
  
.bphtitle{
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.getItNowButton {
  position: absolute;
  background-color: white;
  right: 0px;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  white-space: nowrap;
}

.getItNowButton:hover {
  background-color: #f0f0f0;
}
.contentbody{
  color: white;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 100;
  text-wrap: wrap;
}